html, body, #map, #container {
    height: 100%;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Lato', sans-serif;
}

.layer-list-group-start .esriTitleContainer {
    border-top: none;
}

.layer-list-group-start::before {
    background: rgb(114, 114, 114);
    color: white;
    display: block;
    text-align: center;
    padding: 3px 0;
}

.HomeButton {
    position: relative;
    top: 85px;
    left: 20px;
}

/* #container {
    display: grid;
    grid-template-columns: 300px auto;
}

#container > div:first-child {
    overflow: auto;
} */

.metadata-panel {
    overflow: auto;
}

#layerListToggleButton {
    position: absolute;
    box-sizing: content-box;
    top: 6rem;
    left: 1.3rem;
    z-index: 1;
}

.esriLayerList.hidden {
    display: none;
}

.layer-link {
    position: absolute;
    left: 20px;
    top: 125px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #666;
    background-color: rgba(102,102,102,0.8);
    padding: 0.1rem;
    text-align: center;
    font-size: 16pt;
    border-radius: 5px;
}

.layer-link:hover {
    background-color: #333;
    background-color: rgba(102,102,102,0.9)
}

.layer-link--copied {
    background-color: rgba(0,255,0, 0.8);
}

.layer-link--copied:hover {
    background-color: rgba(0,255,0, 0.9);
}

.layer-link a {
    text-decoration: none;
}

.layer-link--disabled {
    display: none;
}

.webmapForm {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}

.webmapForm input {
    width: 400px;
}

.github-link {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 5px;
}

/** Show badge image instead of label span text */

.github-link:before {
    content: url('https://img.shields.io/badge/Source--lightgray.svg?logo=github&style=social')
}
.github-link__label {
    display: none;
}


.metadata-source-name__schema::before, .metadata-source-name__schema::after {
    content: ' . ';
}